<div ng-repeat="resource in zone.resources | filter:searchText">
  <div class="col-sm-4 col-md-3 col-lg-2">
    <div ng-if="resource.type == 'instance'"
      csf-instance-medium
      data-resource="true"
      class="csf-card-medium csf-instance-medium "
      data-ng-config="{{resource.data}}"></div>
    <div ng-if="resource.type == 'snapshot'"
      csf-snapshot-medium
      data-resource="true"
      class="csf-card-medium csf-snapshot-medium "
      data-ng-config="{{resource.data}}"></div>
    <div ng-if="resource.type == 'volume'"
      csf-volume-medium
      data-resource="true"
      class="csf-card-medium csf-volume-medium "
      data-ng-config="{{resource.data}}"></div>
    <div ng-if="resource.type == 'secgroup'"
      csf-secgroup-medium
      data-resource="true"
      class="csf-card-medium csf-secgroup-medium "
      data-ng-config="{{resource.data}}"></div>
  </div>
</div>
