<div id="csf-zone-selector">
  <i class="fa fa-retweet csf-zone-selector-icon"></i>
  <span class="dropdown" on-toggle="toggled(open)">
    <button type="button" class="btn btn-sm btn-default dropdown-toggle">
      Select Zones 
      <span class="caret"></span>
    </button >
    <ul class="dropdown-menu" role="menu" >
      <li ng-repeat="zone in zones" ng-class="{selected: zone.isSelected}" >
        <label>
          <input type="checkbox"
                 ng-model="zone.isSelected"
                 ng-change="compute.onSelected()">
          {{zone.name}}
        </label>
      </li>
    </ul>
  </span>
</div>

