<form action="" class="form-inline zone-filter-nav">
    <div class="form-group has-feedback">
      <label class="sr-only">Search...</label>
      <input class="form-control" type="text" name="searchFilter" placeholder="Search..." ng-model="searchText.name">
      <span class="fa fa-search form-control-feedback text-muted"></span>
    </div>
    <!--<div class="form-group type-filter">-->
      <!--<label>-->
        <!--<input type="checkbox" name="instanceFilter" value="instances"> instances-->
      <!--</label>-->
    <!--</div>-->

    <!--<div class="form-group type-filter">-->
      <!--<label>-->
        <!--<input type="checkbox" name="volumeFilter" value="volumes"> volumes-->
      <!--</label>-->
    <!--</div>-->

    <!--<div class="form-group type-filter">-->
      <!--<label>-->
        <!--<input type="checkbox" name="snapshotFilter" value="snapshots"> snapshots-->
      <!--</label>-->
    <!--</div>-->

    <!--<div class="form-group type-filter">-->
      <!--<label>-->
        <!--<input type="checkbox" name="secgroupFilter" value="volumes"> security groups-->
      <!--</label>-->
    <!--</div>-->

    <!--<div class="form-group type-filter">-->
      <!--<label>-->
        <!--<input type="checkbox" name="meFilter" value="volumes"> mine-->
      <!--</label>-->
    <!--</div>-->
</form>
